/*styles.css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/smallcalendar.png");
  margin: 0;
  width: 100%;
  background-size: cover;
  height: 100px;
  background-position: center;
}

.header-text {
  background-color : rgba(255,255,255, .7);
  box-shadow: 0px 0px 15px 15px rgba(255,255,255, .7);
}

.header-text h2 {
  font-size: 40px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#date-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calendarSubmit {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  font-size: 16px;
  margin-bottom: 30px;
}

.date-select {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

form label {
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
}

.date-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-header h2, h3 {
  text-align: center;
}

.holiContent{
  border: solid;
  border-color: #d9cb86;
  background-color: #f3ecc9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name{
  border-bottom-style: solid;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name h4 { text-align: center; }

.location{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.location p { text-align: center; }

.description{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description p { text-align: center; }

.past-present-future {
  display: flex;
  flex-direction: column;
}

.previous { order: 2; }
.current { order: 1; }
.future { order: 3; }

.footer-container{
  display: flex;
  background-color: #f3ecc9;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  bottom: 0px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a { font-size: 16px; }
.footer p { font-size: 14px; }
.footer a,p {
  padding: 0px;
  margin: 0px;
}

h2 { margin-top: 25px; }

select { font-size: 1.25em; }


/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .header {
    height: 230px;
    background-position:top,center;
    background-image: url("/images/calendar.png");
  }

  .header-text h2 {
    font-size: 60px;
  }

  .past-present-future { flex-direction: row; }
  .previous { order: 1; }
  .current { order: 2; }
  .future { order: 3; }
  .splash {
    width: 33%;
    min-width: 33%;
    padding: 20px;
  }

  form label {
    font-size: 30px;
  }
}
